body{
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(129, 86, 30);
    text-align: center;
}

/* Below is for the persona image */

.assign{
    background-color: rgb(37, 35, 48);
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img{
    height: 400px;
    width: 350px;
    margin: 10px;
}

/* Below is for the problem statement image */

.assign2{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign2 img{
    width: 500px;
    margin: 20px;
}

/* Below is for the affinity diagram image */

.assign3{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign3 img{
    height: 300px;
    width: 500px;
    margin: 30px;
}

/* Below is for the storyboard image */

.assign4{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign4 img{
    height: 300px;
    width: 550px;
    margin: 30px;
}

