body{
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: darkslategray;
    text-align: center;
}
.assign{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img{
    width: 200px;
    margin: 10px;
}

/* Below is for the problem statement image */

.assign2{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign2 img{
    width: 500px;
    margin: 20px;
}

/* Below is for the affinity diagram image */

.assign3{
    background-color: darkolivegreen;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign3 img{
    width: 500px;
    margin: 30px;
}